ul li{
  list-style: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.nav-left{
  width: 30%;
}
.nav-right{
  width:70%
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-bars{
 display: none;
}
@media(width<=750px){
  .nav-links{
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: -100%;
    left: 30%;
    top: 200px;
  }
  .fa-bars{
    display: block;
   }
}